<% @items.each do |item| %>
  <div>
    <%= image_tag item.get_image %>
    <p>商品名：<%= item.name %></p>
    <p>商品説明：<%= item.introducution %></p>
    <p>値段:<%= item.price %>   
    <p>ユーザーネーム：<%= item.user.name %></p>
  </div>
<% end %>
